@import url('./animations.css');
*{ 
  outline: rgba(0,0,0,0);
}
:root{
  --theme-color: rgb(153, 0, 255);
}
.menu-icon{
  transform: translate(1px, 1px);
  stroke: var(--theme-color);
}
body{
  background-color: rgba(39, 39, 39, 0.842);
  background-image: url("../images/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}
#contact-email:focus + span{
  visibility: hidden;
}
.email-send{
  margin-right: 1px;
  bottom: 7px;
}
.border-black-transparent{
  border-color: rgba(30,30,30,0.5);
}
.shadow-purple-md{
  box-shadow: 0 0.3px 1px 0 var(--theme-color);
}
.text-theme{
  color: var(--theme-color) ;
}.border-theme{
  border-color: var(--theme-color);
}
.nav-cover{ 
  background-image: linear-gradient(to top, rgba(5, 5, 5, 0.747), rgba(15, 15, 15, 0.692));
}
.h-screen-7{
  height: 7vh;
}
.h-screen-93{
  height: 93vh;
}
.top-screen-7{
  top: 7vh;
}
.shadow-white-md{
  box-shadow: 0 0.2px 6px 0 #fff;
}
.shadow-white-sm{
  box-shadow: 0 0.2px 3px 0 #fff;
}
@media (min-width: 768px) {
  .md\:shadow-white-sm{
    box-shadow: 0 0.2px 3px 0 #fff;
  }
}
.hover\:nav-cover:hover{
  background-image: linear-gradient(to top, rgba(5, 5, 5, 0.747), rgba(15, 15, 15, 0.692));
}
.w-fit-content{
  width: fit-content;
}
a#active{
  border-bottom-width: 3px;
  background: rgba(139, 139, 139, 0.384);
  font-weight: 700;
}
.font-x-semibold{
  font-weight: 550;
}
a.active-hidden#active{
  border: 0;
  background: transparent;
}
a.sm#active{
  border-left-width: 3px;
  border-bottom-width: 0;
  padding-left: 8px;
  background: rgba(182, 182, 182, 0.14); 
}
.grid-cols-skills{
  grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
}
.grid-rows-skills{
  grid-template-rows: repeat(auto-fit, minmax(480px, 75vh));
}
svg.line path{
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
svg.line path.base{
  stroke: #fff;
  stroke-width: 3;
}
svg.line path.main{
  stroke-width: 3;
  stroke: var(--theme-color);
}
svg.level circle{
  fill: none;
  stroke-width: 10;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-linecap: round;
}
svg.level circle:first-child{
  stroke-dashoffset: 0;
  stroke: #fff;
  stroke-width: 9.5;
}
svg.level circle.main:last-child{
  stroke: var(--theme-color);
}
.text-percent{
  font-size: 44px;
}
.text-percent span{
  font-size: 20px;
}
.text-percent-line{
  font-size: 18px;
}
.text-percent-line span{
  font-size: 12px;
}

.tt{
  color: rgb(138, 50, 388);
}
.slide-from-right{
  transform: translateX(100%);
  animation: slide-from-right 200ms 1 forwards linear;
}
.slide-to-right{
  transform: translateX(0%);
  animation: slide-to-right 200ms 1 forwards linear;
}

.h-p-5{
  height: 5%;
}
.h-p-10{
  height: 10%;
}
.h-p-20{
  height: 20%;
}
.h-p-15{
  height: 15%;
}
.h-p-18{
  height: 18%;
}
.h-p-30{
  height: 30%;
}
.h-p-40{
  height: 40%;
}
.h-p-50{
  height: 50%;
}
.h-p-60{
  height: 60%;
}
.h-p-70{
  height: 70%;
}
.h-p-75{
  height: 75%;
}
.h-p-80{
  height: 80%;
}
.h-p-90{
  height: 90%;
}
.h-p-95{
  height: 95%;
}
.h-screen-10{
  height: 10vh;
}
.h-screen-20{
  height: 20vh;
}
.h-screen-30{
  height: 30vh;
}
.h-screen-40{
  height: 40vh;
}
.h-screen-50{
  height: 50vh;
}
.h-screen-60{
  height: 60vh;
}
.h-screen-70{
  height: 70vh;
}
.h-screen-80{
  height: 80vh;
}
.h-screen-85{
  height: 85vh;
}
.h-screen-90{
  height: 90vh;
}
.h-screen-95{
  height: 95vh;
}
.w-p-5{
  width: 5%;
}
.w-p-10{
  width: 10%
}
.w-p-15{
  width: 15%
}
.w-p-20{
  width: 20%
}
.w-p-25{
  width: 25%
}
.w-p-18{
  width: 18%
}
.w-p-30{
  width: 30%
}
.w-p-40{
  width: 40%
}
.w-p-50{
  width: 50%
}
.w-p-60{
  width: 60%
}
.w-p-70{
  width: 70%
}
.w-p-80{
  width: 80%
}
.w-p-85{
  width: 85%
}
.w-p-90{
  width: 90%
}
.w-p-95{
  width: 95%;
}