@tailwind base
@tailwind components
@tailwind utilities

@layer utilities
  .title-colors
    @apply text-slate-800 dark:text-gray-200
  .subtitle-colors
    @apply text-slate-600 dark:text-gray-400
* 
  @apply transition-colors duration-500

body
  @apply dark:bg-gradient-to-b bg-white to-[#032430] from-[#09050e] overflow-x-hidden
  max-width: 100vw

.background 
  @apply flex flex-col justify-between items-center
  & > span
    &:first-child
      @apply  dark:bg-cst-cyan/80 translate-x-[100%] -translate-y-[50%] 
    &:last-child
      @apply dark:bg-cst-green/80 -translate-x-[100%] translate-y-[50%]
    @apply rounded-full aspect-square h-[50vw] lg:hidden bg-transparent

summary
  list-style: none
  &::-webkit-details-marker, &::marker
    display: none

g
  transform-origin: center

.text-heading
  @apply text-4xl font-comfortaa font-bold text-gray-600 
