@import "tailwindcss";
@import "@nuxt/ui";

@custom-variant dark (&:where(.dark, .dark *));

@theme static {
    --color-brand-50: #ecf4fe;
    --color-brand-100: #d3e5fd;
    --color-brand-200: #adcefb;
    --color-brand-300: #77aff8;
    --color-brand-400: #3d8df5;
    --color-brand-500: #0a63d9;
    --color-brand-600: #0a55b8;
    --color-brand-700: #094695;
    --color-brand-800: #0a3b7b;
    --color-brand-900: #0a3266;
    --color-brand-950: #051d3d;
}

@theme {
    --color-canvas: #040008;
    --color-cst-cyan: #0a63d9;
    --color-cst-green: #0adb72;

    --color-deep-purple: #09050e;
    --color-deep-teal: #032430;
    --color-deep-blue: #0b111d;

    --font-sans: "Geom", "Outfit", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Space Mono", monospace;
}

:root {
    --ui-bg: transparent;
}

.dark {
    --ui-bg: transparent;
    --ui-bg-muted: rgb(255 255 255 / 0.03);
    --ui-bg-elevated: rgb(255 255 255 / 0.06);
    --ui-bg-accented: rgb(255 255 255 / 0.1);
    --ui-border: rgb(113 113 122 / 0.25);
    --ui-border-muted: rgb(113 113 122 / 0.2);
    --ui-border-accented: rgb(113 113 122 / 0.3);

    --ui-text-dimmed: rgb(228 228 231 / 0.45);
    --ui-text-muted: rgb(228 228 231 / 0.65);
    --ui-text-toned: rgb(228 228 231 / 0.8);
    --ui-text: rgb(244 244 245 / 0.9);
}

@utility no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

@utility glass-border {
    @apply border-zinc-500/10;
}

@utility title-colors {
    @apply text-gray-600 dark:text-gray-200;
}

@utility subtitle-colors {
    @apply text-gray-400 dark:text-gray-300;
}
